{% extends '::base.html.twig' %}

{% block background_image %}{{ asset('public/template/img/kontakt-bg.jpg') }}{% endblock %}
{% block site_heading_title %}Kontakt{% endblock %}
{% block site_heading_subtitle %}Masz pytanie? Napisz do mnie.{% endblock %}
{% block container %}
    <div style="text-align: center;">
        <a href="mailto:marcin.zaremba@gmail.com">marcin.zaremba@gmail.com</a>
    </div>
{% endblock %}