{% extends '@MarceenKontakt/Kontakt/index.html.twig' %}

{% block container %}

    <h2>Wiadomość została wysłana</h2>
    <p>
        Postaram się odpowiedzieć na przesłaną wiadomość w ciągu 24 godzin. Dziękuję i pozdrawiam.
    </p>
{% endblock %}