{% extends '::base.html.twig' %}

{% block background_image %}{{ asset('public/template/img/start-bg.jpg') }}{% endblock %}
{% block site_heading_title %}Kim jestem{% endblock %}
{% block site_heading_subtitle %}Ja i strona ma{% endblock %}
{% block container %}
    <p>
        Marcin Zaremba, absolwent Politechniki Gdańskiej, entuzjasta technologii open source (m.in. systemu operacyjnego
        Linux, języka programowania PHP,
        serwera Nginx, bazy danych PostgreSQL oraz Symfony2), projektant aplikacji internetowych i programista, biegacz
        długodystansowy, maratończyk,
        grafik w razie potrzeby, fotograf z zamiłowania, motocyklista oraz rowerzysta. :-)
    </p>
    <h1>Strona</h1>
    <p>
        Ninejsza strona jest jedynie małą wizytówką i królikiem doświadczalnym, na którym od czasu do czasu testuję nowe rozwiązania i pomysły.
        Obecnie witryna oparta jest na frameworkach Symfony2 oraz Bootstrap.
        Wcześniejsza wersja strony była stworzona przy użyciu frameworka Kohana a jeszcze wcześniej przewinęło się kilka innych rozwiązań technicznych.
        W tym projekcie skorzystałem z layoutu o nazwie Clean Blog - można go znaleźć na portalu
        <a href="https://github.com/IronSummitMedia/startbootstrap-clean-blog" target="_blank">GitHub</a>.
    </p>
    <p>
        Kod źródłowy strony również znajduje się w serwisie <a href="https://github.com/m4rc1no5/marceen"
                                                               target="_blank">GitHub</a>.
        Według mnie najciekawszą i najbardziej złożoną częścią tego projektu jest dział kontakt i odpowiadający mu
        <a href="https://github.com/m4rc1no5/marceen/tree/master/src/Marceen/KontaktBundle" target="_blank">KontaktBundle</a>.
        W tym miejscu skorzystałem z biblioteki <a href="https://github.com/SimpleBus/MessageBus" target="_blank">SimpleBus/MessageBus</a>
        (<a href="https://github.com/SimpleBus/SymfonyBridge" target="_blank">SimpleBus/SymfonyBridge</a>) utworzonej
        przez <a href="http://php-and-symfony.matthiasnoback.nl/" target="_blank">Matthiasa Nobacka</a>. Tutaj
        skorzystałem również z eventów - rozdzieliłem zapis maila w bazie i wysyłkę na dwa etapy. Za pomocą zdarzenia
        <a href="http://symfony.com/doc/current/components/http_kernel/introduction.html#the-kernel-terminate-event"
           target="_blank">kernel.terminate</a> wysyłka maili odbywa sie w tle, po wyrenderowaniu strony (jeśli serwer,
        na którym znajduje się strona korzysta z PHP FPM).
    </p>
    <h1>Programowanie</h1>
    <p>
        Obecnie zgłębiam tajniki frameworka Symfony2, tworzę testy do istniejącego kodu, bawię się Doctrinem i próbuję
        okiełznać nieznane mi wcześniej wzorce projektowe.
        Czasem dodaję jakiś post na moim małym <a href="http://m4rc1no5.blogspot.com/" target="_blank">blogu</a>.
    </p>
    <h1>Fotografia</h1>
    <p>
        W wolnych chwilach zdarza mi się fotografować. Kiedyś robiłem to namiętnie i bardzo często - teraz trochę
        rzadziej ale wciąż z ogromną przyjemnością.
        Lubuję się w krajobrazach i architekturze - tego typu fotografia chyba jest mi najbliższa. Swoje prace publikuję
        w galerii <a href="https://www.flickr.com/photos/m4rc1no5/" target="_blank">Flickr</a>.
    </p>
    <h1>Bieganie</h1>
    <p>
    <div>Od 3 października 2010 roku z mniejszymi lub większymi przerwami biegam. Na początku chciałem po prostu zrzucić
        kilka kilogramów, z czasem jednak strasznie pokochałem ten rodzaj aktywności.
    </div>
    <div>Kiedyś bieganie wydawało mi się strasznie nudnym i katorżniczym sportem przeznaczonym dla jakichś szaleńców. Z
        czasem jednak podejście mi się zmieniło i stała się to dla mnie doskonała forma relaksu po dniu często spędzonym
        przed komputerem.
    </div>
    <h3>Rok 2010</h3>
    <div>20 października usłyszałem o Gdyńskim Biegu Niepodległości, który miał się odbyć 11 listopada 2010 roku.
        Postanowiłem wziąć w nim udział choć w tamtym czasie ledwo byłem w stanie przebiec połowę tego dystansu. :)
        Postawiłem sobie za cel dobiegnięcie do mety i postaranie się o to żeby znaleźć się w pierszym tysiącu i udało
        mi się tego dokonać - dobiegłem na 926 miejscu z czasem 00:54:02 (netto 00:52:55). :)
    </div>
    <h3>Rok 2011</h3>
    <div>22 maja 2011 roku wystartowałem w pierwszym zagranicznym biegu - South London 10K w Londynie po ulicach
        Wimbledonu (również na dystansie 10km). Dobiegłem do mety z czasem 43:09 brutto (43:04 netto) na 37 pozycji (na
        290 zawodników). Poprawiłem swój rekord o niespełna 10 minut! To była dla mnie duża frajda.
    </div>
    <div>Latem 2011 roku przebiegłem swój pierwszy półmaraton - III Półmaraton Ziemi Puckiej. Przebiegłem dystans 21 km
        i 97,5 metra z czasem 01:34:21 co było dla mnie dużym osiągnięciem.
    </div>
    <h3>Rok 2012</h3>
    <div>22 kwietnia 2012 roku zostałem maratończykiem - przebiegłem XI Cracovia Maraton choć decyzję o starcie podjąłem
        pięć tygodni przed tą imprezą i mimo braku planu treningowego udało mi się złamać 3h i 30min - przebiegłem ten
        dystans w czasie 03:24:16 netto (03:23:58 brutto) i do tej pory nie udało mi się tego wyniku pobić.
    </div>
    <h3>Dziś</h3>
    <div>Tak wyglądały początki mojej przygody z bieganiem. Od końca 2010 roku jest to moja pasja, startuję raz na jakiś
        czas w różnych zawodach biegowych (głównie na 10km) choć już czasy i forma nie jest tak dobra jak na początku
        mojej przygody. :)
    </div>
{% endblock %}