{% extends '::base.html.twig' %}

{% block site_heading_title %}Kim jestem{% endblock %}
{% block site_heading_subtitle %}Ja i strona ma{% endblock %}
{% block container %}
    <p>Marcin Zaremba, absolwent Politechniki Gdańskiej, entuzjasta technologii open source (m.in. systemu operacyjnego Linux, języka programowania PHP5, serwera Nginx, bazy danych PostgreSQL oraz Symfony2), projektant aplikacji internetowych i programista, biegacz długodystansowy, maratończyk, grafik w razie potrzeby, fotograf z zamiłowania, motocyklista oraz rowerzysta. :-)</p>
    <p>Stronka jest moją małą wizytówką i nie spełnia żadnego wielkiego, odpowiedzialnego zadania. Jest takim małym królikiem doświadczalnym, na którym od czasu do czasu testuję nowe rozwiązania i pomysły. Obecnie wiitryna oparta jest na frameworkach kohana oraz Bootstrap. Kohana umożliwia korzystanie z architektury HMVC dzięki której kod źródłowy strony jest bardzo przejrzysty, łatwy w utrzymaniu i rozwijaniu. Bootstrap natomiast powoduje, że strona jest przyjazna i czytelna zarówno na urządzeniach mobilnych jak i na stacjonarnych komputerach - bez względu na rozdzielczość ekranu wyświetlacza.</p>
    <p>Pobieranie danych z Flickra, Blogspota i Twittera odbywa się odpowienio za pomocą XML'owych RSS'ów, przy użyciu formatu JSON oraz standardu OAuth.</p>
{% endblock %}