{% extends '::base.html.twig' %}

{% block background_image %}{{ asset('public/template/img/android-bg.jpg') }}{% endblock %}
{% block site_heading_title %}Projekty{% endblock %}
{% block site_heading_subtitle %}software developing / programowanie{% endblock %}
{% block container %}
    <h2>Autopay</h2>
    <p>
        Na codzień tworzę aplikacje dla Autopay w języku Java oraz Python.
    </p>

    <hr>

    <h2>POIIB</h2>
    <p>
        Zaprojektowałem i utworzyłem stronę internetową Pomorskiej Okręgowej Izby Inżynierów Budownictwa. Obecnie zajmuję się utrzymaniem i rozwojem istniejącej witryny.
    </p>
    <p>
        Wykonałem kilkadziesiąt różnych fotografii na potrzeby strony internetowej oraz produktów reklamowych Firmy POIIB.
    </p>
    <p><a class="btn btn-default" href="http://pom.piib.org.pl/" target="_blank">pom.piib.org.pl</a></p>

    <hr>

    <h2>GitHub</h2>
    <p>
    W wolnych chwilach tworzę mniejsze rzeczy, które umieszczam na swoim koncie <a href="https://github.com/m4rc1no5" target="_blank">GitHub</a>.
    Znajduje się tam między innymi kod źródłowy tej strony oraz kilka innych ciekawostek.
    </p>
    <p><a class="btn btn-default" href="https://github.com/m4rc1no5" target="_blank">GitHub</a></p>

    <hr>

    <h2>Calc4Runner - Android</h2>
    <p>
    W 2012 roku stworzyłem swój pierwszy program (napisany w Java) dostępny na platformie Android. To była taka mała wprawka żeby
    zobaczyć jak zorganizowane jest tworzenie i udostępnianie aplikacji w środowisku Google. Od tamtego czasu
    użytkownicy platformy Android zainstalowali Calc4Runner ponad 11000 razy.
    </p>
    <p>
    <a class="btn btn-default" href="{{ path('android.calc4runner') }}">Informacje dodatkowe</a>
    <a class="btn btn-default" href="https://github.com/m4rc1no5/Calc4Runner" target="_blank">Kod źródłowy</a>
    </p>

    <hr>

    <h2>Blog o programowaniu</h2>
    <p>
    W wolnym czasie zajmuję się również tworzeniem niewielkiego bloga o programowaniu. W miejscu tym zamieszczam krótkie
    zapiski na temat Linuksa, PHP, PostgreSQL i innych rzeczach, które mnie informatycznie fascynują.
    </p>
    <p><a class="btn btn-default" href="http://m4rc1no5.blogspot.com/" target="_blank">m4rc1no5.blogspot.com</a></p>

    <hr>

    <h2>Aplikacja dodajurlop</h2>
    <p>
    Testując nowe możliwości frameworka Symfony 2.8 tworzę (wraz z kolegą) małą aplikację do rejestrowania urlopów.
    </p>
    <p><a class="btn btn-default" href="https://github.com/m4rc1no5/dodajurlop" target="_blank">Kod źródłowy</a></p>

    <hr>

    <h2>Kółko i Krzyżyk - gra w Java</h2>
    <p>W serwisie GitHub znajduje się również gra w Kółko i Krzyżyk, którą kiedyś wykonałem w języku Java na zaliczenie kursu z projektowania obiektowego.</p>
    <p>Więcej informacji o tym programie można znaleźć na <a href="http://m4rc1no5.blogspot.com/search/label/k%C3%B3%C5%82ko%20i%20krzy%C5%BCyk">moim blogu</a>.</p>
    <p><a class="btn btn-default" href="https://github.com/m4rc1no5/kik" target="_blank">Kod źródłowy gry</a></p>

    <hr>

    <h2>Flickr</h2>
    <p>Kiedy już zmęczę się prawdziwie programowaniem to biorę aparat fotograficzny i ruszam w plener.</p>
    <p><a class="btn btn-default" href="https://www.flickr.com/photos/m4rc1no5/" target="_blank">Galeria na flickr.com</a></p>

{% endblock %}